.item_one {
    display: flex;
    align-items: center;
    gap: 200px;
}
.item_two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    .content_image {
        img {
            left: 0;
            border-radius: 40px 0 0 40px;
        }
        &::after {
            display: none;
        }
    }
    .content {
        h2 {
            &::after {
                left: 0;
            }
        }
    }
}
.content_image {
    min-width: 528px !important;
    height: 642px;
    position: relative;
    img {
        position: absolute;
        right: 0;
        border-radius: 0 40px 40px 0;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: -45%;
        right: -85%;
        width: 540px;
        height: 400px;
        border-radius: 72px;
        background: #fff;
        border: 3px solid #259b23;
        border-left: 0;
        border-bottom: 0;
        z-index: -1;
    }
}
.content {
    h2 {
        font-size: 3rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 48px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -2rem;
            right: 0;
            width: 200%;
            height: 4px;
            background: #333;
            z-index: -1;
        }
        span {
            color: #39a044;
        }
    }
    p {
        font-size: 18px;
        color: #333;
    }
    strong {
        font-size: 18px;
        color: #333;
        font-weight: 700;
    }
}
@media (max-width: 720px) {
    .item_one {
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-bottom: 3rem;
        h2 {
            font-size: 1.5rem;
            &::after {
                right: 72px !important;
                left: auto !important;
            }
        }
        p {
            font-size: 1rem;
        }
    }
    .item_two {
        flex-wrap: wrap-reverse;
        gap: 1.5rem;
        margin-bottom: 3rem;
        h2 {
            font-size: 1.5rem;
            &::after {
                right: 72px !important;
                left: auto !important;
            }
        }
        p {
            font-size: 1rem;
        }
    }

    .content_image {
        position: relative;
        min-width: 100% !important;
        width: 100%;
        height: 248px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        &::after {
            display: none !important;
        }
        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px !important;
        }
    }
}
