html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@keyframes flutuar {
  0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  50% {
      -webkit-transform: translateY(14%);
      transform: translateY(14%);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}